extends layout

block content
  h1= title
  p Welcome to #{title}
  p Current number.
  h2= myNumber
  
  p to guess a number set the parameter myGuess
  a(href="/guessNum?myGuess=7") Guess Number 7.

  p To set a new number.
  a(href="/setNumber?setNumber=11") Set Number.